name: s_packages
description: A unified package gathering multiple widgets and tools.
issue_tracker: https://github.com/SoundSliced/s_packages/issues
repository: https://github.com/SoundSliced/s_packages
homepage: https://github.com/SoundSliced/s_packages
version: 1.0.1


environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
