name: s_liquid_pull_to_refresh
description: A liquid/spring sts_liquid_pull_to_refreshled pull-to-refresh widget for Flutter with customizable animations.
issue_tracker: https://github.com/SoundSliced/s_liquid_pull_to_refresh/issues
repository: https://github.com/SoundSliced/s_liquid_pull_to_refresh
homepage: https://github.com/SoundSliced/s_liquid_pull_to_refresh
version: 1.1.0

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
