name: s_bounceable
description: A Flutter widget providing bounceable animations with intelligent single and double tap detection support.
issue_tracker: https://github.com/SoundSliced/s_bounceable/issues
repository: https://github.com/SoundSliced/s_bounceable
version: 2.1.0
homepage: https://github.com/SoundSliced/s_bounceable

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
